<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container"> 
	<form>
	  <div class="form-group">
	  	<select class="js-example-basic-multiple" placeholder="Choose countries/technologies to filter" multiple="multiple" ng-model="countrylist" class="filter_bar">
		  <option ng-repeat="entry in countries track by $index">{{entry}}</option>
		</select>
	</div>
	</form>
</div>


<div class="container">
  <div ng-repeat="entry in db" class="card"> 
       <h1 class="card-heading">{{entry.company_name}}</h1>
        <div class="card-body">
          <img ng-show="entry.logo_url != ''" ng-src="{{entry.logo_url}}" class="featuredImage">
          <img ng-show="entry.logo_url == ''" ng-src="http://www.kerrdental.eu/res/global/product_515_275_noPhoto.jpg" class="featuredImage">  
            <p>Technologies: 
              <span ng-repeat="asd in entry.site_technologies"> {{asd.value}} </span></p>        </div>      
      </div>
    </div>
</div>