.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: url("/assets/images/gradient.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.card {
  float: left;
  width: 360px;
  height: 250px; /*Make it a fixed value if all the cards should be of fixed height*/
  margin: 10px;
  padding: 10px;
  overflow: hidden; 
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
    border-radius: 3px;
}
h1.card-heading {
    margin:0;
    padding:0px;
    padding-bottom:0px;
    font-size: 18px;
    border: 0 solid #EFEFEF;
    border-bottom-width: 1px;
    font-weight: 500;
    line-height: 1.5;   
}
.featuredImage { 
    width: 100%;
    height:120px;
    padding:0px;
    margin:15px 0;
    text-align: center;
    position:relative;
    overflow:hidden;
}
.card-body p {
  margin: 10px;
  font-size: 14px;
    line-height: 1.4; 
}

.card_image {
    width: 300px;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

.beigeparagraph_2 {
background: #DFDAD5;
padding: 35px;
-moz-border-radius: 35px;
-webkit-border-radius: 35px;
-o-border-radius: 35px;
-ms-border-radius: 35px;
border-radius: 35px;
}

.col-centered{
float: none;
margin: 0 auto;
}