<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Crappy</h1>
    <p class="lead">Grab the latest, know more about trends and technologies adopted by companies</p>
  </div>
</header>

<div id="container"> 
  <div class="row">
      <div class="col-lg-6 col-md-offset-3" style="background-color:#e0e0e0; margin-top: 10px">
        <div id="bubble"></div> 
      </div>
 
  </div>     
  <hr>
</div>

<div id="content"> 
    <div style="display:inline-block;">
      
    
    <div class="col-lg-11 col-centered" > 
      <div ng-repeat="entry in getFiveAndBlank()" class="card"> 
        <h1 class="card-heading">{{entry.company_name}}</h1>
        <div class="card-body">
          <img ng-show="entry.logo_url != ''" ng-src="{{entry.logo_url}}" class="featuredImage">
          <img ng-show="entry.logo_url == ''" ng-src="http://www.kerrdental.eu/res/global/product_515_275_noPhoto.jpg" class="featuredImage">          
            <p>Technologies: 
              <span ng-repeat="asd in entry.site_technologies"> {{asd.value}} </span></p> 
        </div>      
      </div>
      <div class="card" style="text-align:center; vertical-align: centre; display: inline-block; padding-top:100px;">  
        <button type="button" class="btn btn-default btn-lg" ng-click="go('/filtering')">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search More
         </button>      
      </div>
    </div>

    </div>
</div>
 
<footer class="footer"><hr> 
  <div class="container">
      <p>&copy; 2015 Crappy</p>
  </div>
</footer>