<style>

.chart div {
  font: 15px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 6px;
  margin: 2px;
  color: white;
}

</style>

<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="chart"></div>
</div>


<div class="container">
  <div ng-repeat="entry in db" class="card"> 
       <h1 class="card-heading">{{entry.company_name}}</h1>
        <div class="card-body">
          <img ng-show="entry.logo_url != ''" ng-src="{{entry.logo_url}}" class="featuredImage">
          <img ng-show="entry.logo_url == ''" ng-src="http://www.kerrdental.eu/res/global/product_515_275_noPhoto.jpg" class="featuredImage">  
            <p>Technologies: 
              <span ng-repeat="asd in entry.site_technologies"> {{asd.value}} </span></p>        </div>      
      </div>
    </div>
</div>
